# Data Cleaning

One of the most important actions in life is preparing, whether it be preparing for a test by studying or gathering the right ingredients to make a meal, preparation is a key step towards success. Just like everyone, data isn't perfect, can have mistakes, and often leaves the toilet seat up. Maybe not the latter, but the process of data collection yields much room for error whether it be missing data values or inaccurate data readings. While the best thing to do before storing your data should be validating it, this hasn't been the case for many real world data sets. For this reason, we should clean our data before diving into analysis.

**Excercise**:

Before we tell the computer what to look for, let us know intuitively what is wrong with the data.
Take a look at the following table from a UCSD data set and spot some obvious and not so obvious errors.

![alt text](https://i.imgur.com/MqqZukV.png)

We can spot quite a few errors, like the fact that NaN is not a major and why would a raccoon eat at Pines, raccoons eat trash - wait nevermind. Although we can spot these mistakes, we need to think more systematically in order to know how to write a program fixing the data. 

Say we want to analyze the frequency of favorite dining halls to know which one most students enjoy. Look at the column for 'Favorite Dining Hall', you would expect all the values to follow some sort of pattern. The 'Favorite Dining Hall' column should really only contain values in the set of all dining halls ["64 Degrees", "Cafe Ventanas". "Canyon Vista", "Foodworx", "Oceanview", "Pines"]. Any other kind of answers for dining halls should not be looked at when looking for the most favorited dining hall.

Ok so we removed the undesired entries for the favorite dining hall analysis, let's calculate the mode of the 'Favorite Dining Hall' column and we're done, right? Well, look at the table again, there are two Talking Trees! We really should only have one (seriously), duplicate entries should  always be considered when cleaning every data set you encounter.


There are multiple cases to look for depending on what kind of analysis you are performing, so let's take a look at different classic scenarios you will definitely face at some point when cleaning your data.

### Prepare files

Run this cell to prep datasets

In [0]:
import pandas as pd

incorrect_table_url = 'https://raw.githubusercontent.com/Emmanuel-Diaz/DataCleaning/master/incorrect_table.csv'
medical_table_url = 'https://raw.githubusercontent.com/Emmanuel-Diaz/DataCleaning/master/medical_table.csv'
basketball_data_url = 'https://raw.githubusercontent.com/Emmanuel-Diaz/DataCleaning/master/basketball_data.csv'

### Incorrect Value Patterns

Say you conduct a survey of 100 students at UCSD to find out how much free time the average student has.

 You ask students three questions 

1.   How many classes are you taking right now?
2.   What time do you wake up?
3.   How long do you spend studying at the library every day?

Your results bring back this table

In [7]:
incorrect_table = pd.read_csv(incorrect_table_url)
incorrect_table

,Unnamed: 0,Students,Classes Taking,Time Wake Up,Time Spend at Library
0,0,Student 1,2,Morning,NaN
1,1,Student 2,3,11:00 PM,1 hours
2,2,Student 3,4,7:00 PM,Many
3,3,Student 4,4,Morning,Uh
4,4,Student 5,5,Morning,7 hours
5,5,Student 6,4,Morning,None
6,6,Student 7,3,Never,1 hours
7,7,Student 8,I don't go here lol,Never,None
8,8,Student 9,4,Morning,NaN
9,9,Student 10,3,Never,None
10,10,Student 11,3,Never,NaN
11,11,Student 12,4,Team No Sleep,NaN
12,12,Student 13,1,Never,Uh
13,13,Student 14,I don't go here lol,Team No Sleep,Many
14,14,Student 15,4,Morning,Uh
15,15,Student 16,Yes,7:00 PM,NaN
16,16,Student 17,5,Morning,None
17,17,Student 18,2,9:30 AM,None
18,18,Student 19,1,Morning,None
19,19,Student 20,2,Morning,Many
20,20,Student 21,3,1:30 PM,None
21,21,Student 22,3,Morning,Many
22,22,Student 23,1,Morning,2 hours
23,23,Student 24,1,Team No Sleep,NaN
24,24,Student 25,4,11:00 PM,8 hours
25,25,Student 26,3,Never,5 hours
26,26,Student 27,5,Team No Sleep,0 hours
27,27,Student 28,2,10:00 AM,Uh
28,28,Student 29,1,Never,None
29,29,Student 30,5,Team No Sleep,Many
...,...,...,...,...,...
70,70,Student 71,2,Never,NaN
71,71,Student 72,5,3:00 PM,None
72,72,Student 73,1,Morning,4 hours
73,73,Student 74,1,Team No Sleep,Many
74,74,Student 75,2,5:00 AM,1 hours
75,75,Student 76,3,Never,1 hours
76,76,Student 77,2,7:00 PM,NaN
77,77,Student 78,Yes,4:30 AM,4 hours
78,78,Student 79,None,Never,6 hours
79,79,Student 80,5,3:00 PM,Uh
80,80,Student 81,5,Morning,0 hours
81,81,Student 82,2,Never,2 hours
82,82,Student 83,None,10:00 AM,Uh
83,83,Student 84,4,7:00 PM,Uh
84,84,Student 85,2,Team No Sleep,3 hours
85,85,Student 86,2,7:00 PM,NaN
86,86,Student 87,1,Never,7 hours
87,87,Student 88,2,Team No Sleep,Uh
88,88,Student 89,2,4:30 AM,None
89,89,Student 90,4,Never,7 hours
90,90,Student 91,3,Team No Sleep,NaN
91,91,Student 92,4,12:00 AM,Many
92,92,Student 93,4,Never,1 hours
93,93,Student 94,2,8:30 AM,NaN
94,94,Student 95,2,Team No Sleep,8 hours
95,95,Student 96,4,Team No Sleep,NaN
96,96,Student 97,3,8:30 AM,None
97,97,Student 98,1,Team No Sleep,NaN
98,98,Student 99,I don't go here lol,6:30 AM,Uh
99,99,Student 100,1,Morning,1 hours

Just from looking at this table, it already seems like we need to do some cleaning.

What would be a more efficient algorithm to clean this table up?

1.   Find the most commonly or obviously wrong data values and fix them.
2.   Constrain each column to their expected value and remove outliers.
3.   Find the right expected values in columns and create a new table with just those values.


One important thing about preserving the validity of the data set is making sure each column holds the correct type of values for all rows. This is extremely important if you want to run any kind of algorithm over the data set since you do not want any weird values or exceptions to pass through as your algorithm becomes confused on what to do with such input. We need to constrain each column with 'probable' values we should expect. For example, if a column is supposed to contain only true or false, no value in the column should be 'both' unless you're Schrodinger or something. 

Let's fix the table and only include students in our study, to do this we can look at the 'Classes Taking' column. A UCSD student should be taking at least a class here, and nothing more than 5 classes (I hope).

In [15]:
#One great thing about Pandas Dataframes is that they assert a datatype for each column
#Since there looks to be strings in the 'Classes Taking' column, it probably contains string types.
#Let's check the type of the first element
print(type(incorrect_table['Classes Taking'][0]))

<class 'str'>

In [0]:
#Wow, so the rest of the data values in this columns are strings, who would do such a thing
#With this in mind, we can continue to think about removing non-students. Let's make a list
#of expected values to check for
expected_classes = ["1", "2", "3", "4", "5"] #remember string type!

#Let's check each value in the column and find out if the row is for a respective student
#We could make a function that returns true if it is a student and false if not a student
check_if_student = lambda student_classes: student_classes in expected_classes

#Great! Now apply this function to every value in the column, we can do this using the map() function
#Now we can select the rows of the table who are students and make a new table fixed_students_table
fixed_students_table = incorrect_table[incorrect_table['Classes Taking'].map(check_if_student) == True]
fixed_students_table

In [17]:
#Let's see how many 'students' we surveyed
print('Out of the',incorrect_table.shape[0], 'surveyed at UCSD, only', fixed_students_table.shape[0], 'were actually students.')

Out of the 100 surveyed at UCSD, only 85 were actually students.

Exercise: 

Your co-worker wrote a function that will take the average time spend at the library from the 'Time Spent at Library' column. The function takes in strings in the form 'N hours' where N is the number of hours spent. 



1.   Write a function that would check each value and see if it is already in that format.
2.   If not, change that value into something that would match the format (Ex:  None -> '0 hours')
3.   Change the values in the same table and return the fixed table

Hint: To change values in the table, you can use table.loc(row_index, column_name) = new_value

### Data Accuracy

If we are going to learn from our data to allow us to pursue further actions, the data should sure as hell be accurate. Inaccurate data can cause huge problems, whether it is entered manually or automatically, no matter how small the error may be, it [could be funny](https://twitter.com/asjadnazir/status/512874124042305536) or [end horribly for you](https://www.theguardian.com/technology/2013/jul/18/people-falsely-accused-internet-data-disclosure)

The accuracy of your dataset depends on what you are trying to solve. If you are trying to figure out the median age of a group of people, it is ok to use whole discrete numbers as the room for error is not so strained on being completely accurate. However, if you are trying to figure out the probability that a drug will work on a patient, there will be real life consequences due to inaccurate data.

There are multiple avenues bad data can come in, let's look at a data set of fictional patients where we want to find out whether or not a certain drug should be used on each patient.

In [8]:
medical_table = pd.read_csv(medical_table_url)
medical_table

,Unnamed: 0,Patient,Sex,Age,Blood Type,Taking other Medication,P(Drug Works),P(Drug Fails)
0,0,John Doe,M,60,B,False,0.16,0.88
1,1,Jane Doe,F,62,B,True,0.33,0.67
2,2,John Doe,M,50,B,False,0.37,0.63
3,3,Jane Doe,F,43,AB,False,0.49,0.51
4,4,John Doe,M,50,AB,False,0.37,0.63
5,5,Jane Doe,F,47,O,False,0.61,0.44
6,6,John Doe,M,55,A,True,0.21,0.87
7,7,Jane Doe,F,50,A,False,0.71,0.34
8,8,John Doe,M,62,A,False,0.17,0.84
9,9,Jane Doe,F,43,B,False,0.52,0.67
10,10,John Doe,M,56,B,False,0.17,0.84
11,11,Jane Doe,F,42,A,False,0.50,0.51
12,12,John Doe,M,64,O,False,0.27,0.73
13,13,Jane Doe,F,61,O,False,0.61,0.40
14,14,John Doe,M,52,AB,True,0.22,0.79
15,15,Jane Doe,F,51,O,False,0.82,0.23
16,16,John Doe,M,65,AB,False,0.16,0.84
17,17,Jane Doe,F,51,O,False,0.81,0.27
18,18,John Doe,M,64,O,False,0.28,0.77
19,19,Jane Doe,F,64,A,False,0.52,0.55
20,20,John Doe,M,58,AB,False,0.16,0.88
21,21,Jane Doe,F,65,O,False,0.61,0.40
22,22,John Doe,M,52,O,False,0.48,0.52
23,23,Jane Doe,F,52,A,False,0.71,0.38
24,24,John Doe,M,43,AB,False,0.19,0.92
25,25,Jane Doe,F,59,A,False,0.49,0.51
26,26,John Doe,M,52,B,False,0.37,0.63
27,27,Jane Doe,F,59,AB,True,0.35,0.75
28,28,John Doe,M,65,AB,False,0.17,0.88
29,29,Jane Doe,F,41,O,False,0.60,0.40
30,30,John Doe,M,61,O,False,0.27,0.81
31,31,Jane Doe,F,64,A,True,0.34,0.71
32,32,John Doe,M,53,B,True,0.21,0.79
33,33,Jane Doe,F,51,A,True,0.54,0.46
34,34,John Doe,M,63,O,False,0.28,0.77
35,35,Jane Doe,F,61,A,False,0.49,0.51
36,36,John Doe,M,62,A,False,0.16,0.84
37,37,Jane Doe,F,63,A,False,0.49,0.55
38,38,John Doe,M,49,B,False,0.16,0.88
39,39,Jane Doe,F,53,AB,True,0.55,0.46
40,40,John Doe,M,41,AB,False,0.17,0.84
41,41,Jane Doe,F,65,A,False,0.49,0.51
42,42,John Doe,M,63,B,True,0.01,1.04
43,43,Jane Doe,F,51,B,False,0.70,0.30
44,44,John Doe,M,43,O,False,0.27,0.73
45,45,Jane Doe,F,55,A,False,0.71,0.30
46,46,John Doe,M,64,AB,False,0.16,0.84
47,47,Jane Doe,F,46,AB,False,0.49,0.51
48,48,John Doe,M,41,A,False,0.16,0.84
49,49,Jane Doe,F,42,AB,False,0.50,0.55

At first glance, there does not seem to be anything prominently wrong. However, look at the first row's probability columns. The probability that it will work is 16% while the probability it will fail is 88%, for a total whopping 104%. This is an inaccurate measurement of probability that if possible to happen to one patient, it is definitely possible to have happened to others. Let's check the patients to see how many have inaccurate measurements.

In [0]:
#Define a function that will check both probabilities
#We want to see if both probabilities add up to 1, so it is a valid probability
check_probabilities = lambda drug_works, drug_fails: drug_works + drug_fails == 1

#Notice we are comparing two different columns, in Pandas this is synonymous to
#comparing two different Series, we can find out which rows have invalid probabilties
num_rows = len(medical_table.index)
drug_successes_probs = medical_table['P(Drug Works)']
drug_failure_probs = medical_table['P(Drug Fails)']

#cross check every probability pair and put in list [True, False,...] depending on if valid or not
valid_rows = []
for i in range(num_rows):
  is_valid_row = check_probabilities(drug_successes_probs[i], drug_failure_probs[i])
  valid_rows.append(is_valid_row)
  
#drop row indexes if they are invalid
fixed_medical_table = medical_table.drop([x for x in range(num_rows) if valid_rows[x] != True])
fixed_medical_table

In [0]:
#Cool thing about Pandas is you can do all of that in one line lol
medical_table[medical_table['P(Drug Works)'] + medical_table['P(Drug Fails)'] == 1]

Enforcing accuracy is key in ensuring that all other techniques you apply to the dataset will not be stressed in unimaginable ways. Keeping the measurements consistant throughout will relieve you from worrying about comparison issues later down the line.

### Challenge

We have a function that takes in a basketball player's height, age, sex, and  applies a formula to calculate an estimated chance of the player playing basketball professionally.

```
def chance_of_basketball_career(height, age, sex):
  ...
  ...
  return probability
```

You don't need to know how the function works, mainly so you don't get disappointed in the probability of your basketball career. You are given a table of players and their characterisitics, which include their height, age, and sex. Problem is that we had someone from Europe come and take measurements for some of the players. They may have measured players twice as well.

Your task is to fix the table and make sure all players are using freedom units (imperial units) and remove any duplicates from the table.

In [0]:
basketball_data = pd.read_csv(basketball_data_url)
basketball_data

![alt text](https://whatsthebigdata.files.wordpress.com/2016/05/time.jpg?w=1278)

Data Cleaning is a long and arduous process but as data scientists, you should get very used to  it. As you venture out and encounter different data sets, you want to keep in mind how the data values will be used both intuitively and programmatically. These steps of preparing data are especially important as you dive into the world of machine learning, where many models expected data a certain way. 

For more information about Data Cleaning:
[Wikipedia](https://en.wikipedia.org/wiki/Data_cleansing)
[IBM](https://www.ibm.com/developerworks/library/ba-cleanse-process-visualize-data-set-1/index.html)
[Kaggle Dataset Tutorial](https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values)